body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

.sessao1 {
    width: 100%;
    height: 100vh;
    font-size: 30px;
    position:relative;
    transition: all 1s;
}

#img-fundo {
    background-image: url(../img/fundo_apresentacao.jpeg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
}

.sessao1 h1 {
    font-size: 50px;
    color: white;
    position: absolute;
    left: -350px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    top:30%;
    font-family: 'Ubuntu', sans-serif;
    transition: all 1.5s;
}

.sessao1 h2 {
    font-size: 30px;
    position: absolute;
    color: white;
    left: 0px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    top: 55%;
    font-family: 'Ubuntu', sans-serif;
    transition: all 1.5s;
}

.botao_iniciar {
    height: 90px;
    width: 300px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    top: 90%;
    opacity: 0;
    transition: all 1.5s;
    cursor: pointer;
}

    .botao_iniciar p {
        text-align: center;
        color: white;
        transition: all 0.7s;
        font-family: 'Ubuntu', sans-serif;
        padding-top: 20px;
    }

    .botao_iniciar:hover {
        background-color: white;
        transition: all 0.7s;
    }

        .botao_iniciar:hover p {
            color: #436477;
            transition: all 0.7s;
        }

.sessao2 {
    padding-bottom: 70px;
    padding-top: 100px;
}

.sessao2 h2{
    text-align:center;
    font-size:45px;
    padding-top:300px;
    transition:all 1s;
    color:#dde4e8;
}

.line-index {
    background-color: #436477;
    border: 1px solid #436477;
    border-radius:5px;    
}

.fixed-width{
    width:30%;
}

#line-index-1 {
    margin-bottom: 100px;
    transition: all 1.5s;
    width: 100%;
}

.div-features{
    margin-top:50px;
}

#responsive-text-1 {
    padding-right: 500px;
    opacity: 0;
    transition: all 1s;
}

#responsive-text-2 {
    padding-left: 300px;
    opacity: 0;
    transition: all 1s;
}

#responsive-text-3 {
    padding-right: 300px;
    opacity: 0;
    transition: all 1s;
}

#responsive-text-4 {
    padding-left: 300px;
    opacity: 0;
    transition: all 1s;
}

.responsive-text img {
    display:block;
    margin:0 auto;
    margin-top:13%;
    width: 130px;
}

.responsive-text h3 {
    text-align: center;
    padding-top: 30px;
    color: #dde4e8;
}

.responsive-text p {
    padding-top: 30px;
    text-align: center;
    padding: 20px;
    color: #878787;
}

#responsive-image-1 {
    padding-left: 1500px;
    opacity: 0;
    transition: all 1s;
}

#responsive-image-2 {
    padding-right: 300px;
    opacity: 0;
    transition: all 1s;
}

#responsive-image-3 {
    padding-left: 300px;
    opacity: 0;
    transition: all 1s;
}

#responsive-image-4 {
    padding-right: 300px;
    opacity: 0;
    transition: all 1s;
}

.image-devices {
    height: 100%;
    width:100%;
    border-radius: 5px;
}

.div-mobile{
    display:none;
}

.sessao3 {
    margin-top: 3px;
    border: 1px solid #212121;
    background-color: #212121;
    padding-top: 70px;
    padding-bottom: 70px;
    transform: translateX(-100%);
    opacity: 0;
    width:0px;
    transition:transform 1s;
    overflow:hidden;
}

.porque_nos_escolher h2 {
    padding-top: 15%;
    text-align: center;
    font-size: 40px;
    color: #dde4e8;
}

.porque_nos_escolher p {
    text-align: justify;
    padding:15px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #878787;
}

.porque_nos_escolher_img {
    height: 400px;
    text-align: right;
}

    .porque_nos_escolher_img img {
        width: 100%;
        border-radius: 5px;
    }

.sessao4 {
    background-image: url(../img/fundo_paisagem.jpg);
    background-position: right bottom;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top:20px;
    padding-bottom:40px;
    text-align:center;
}

.sessao4 img{
    width:50px;
    padding-top:30px;
}

.sessao4 h3, .sessao4 p{
    color:white;
}

.sessao4 h3{
    font-weight:bold;
    font-size:35px;
    padding-top:15px;    
}

    .sessao4 p {
        font-size: 20px;
    }

.sessao6 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid #eee;
    background-color: #fafafa;
    margin-top:0px;
}

.sessao6 img{
    height:40px;
    margin-top:30px;
    margin-bottom:15px;
}

.sessao6 p {
    color:#878787;
    font-size:17px;
}

.form-contact{
   max-width:70%;
    margin:0 auto;
    margin-top:20px;
}

.text-area-style {
    width: 99%;
    max-height: 190px;
    padding-top: 17px;
    vertical-align: bottom;
    margin-bottom: 2px;
    margin-top: 2px;
    outline: none;
    border: none;
    transition: all 0.2s;
    border: 1px solid #b4b4b4;
    padding-left: 10px;
    display: block;
    background-color: transparent;
    resize: none;
}

.entry_submit_contact {
    width: 35%;
    height: 60px;
    border-radius: 3px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    outline: none;
    border: none;
    color: white;
    font-size: 20px;
    background-color: #436477;
    box-shadow: 0px 0px 20px #93a3ad;
    transition: all 0.5s;
}

    .entry_submit_contact:hover {
        border-radius: 3px;
        border: 2px solid #436477;
        color: #436477;
        background-color: white;
        box-shadow: 0px 0px 50px #dde4e8;
        transition: all 0.5s;
    }

@media only screen and (max-width: 768px) {
    .sessao1 h1 {
        font-size: 28px;
        color: white;
        position: absolute;
        left: -350px;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        top: 30%;
        font-family: 'Ubuntu', sans-serif;
        transition: all 1.5s;
    }

    .sessao1 h2 {
        font-size: 18px;
        position: absolute;
        color: white;
        left: 0px;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        top: 55%;
        font-family: 'Ubuntu', sans-serif;
        transition: all 1.5s;
    }

    .sessao2 h2 {
        text-align: center;
        font-size:40px;
    }

    #line-index {
        background-color: #436477;
        border: 1px solid #436477;
        border-radius: 5px;
        width: 30%;
        margin-bottom: 50px;
    }

    .div-web{
        display:none;
    }

    .div-mobile{
        display:block;
    }

    .sessao3 {
        padding-top: 0px;
        padding-bottom: 20px;
    }

    .porque_nos_escolher h2 {
        padding-top: 5%;
        text-align: center;
        font-size: 40px;
    }

    .gratis-div {
        margin-left: 0%;
    }

    .premium-div {
        margin-left: 0%;
    }

    .prices {
        width: 30%;
    }

    .sessao6 p {
        color: #878787;
        font-size: 14px;
    }

    .entry_submit_contact {
        width: 90%;
        height: 60px;
        border-radius: 3px;
        display: block;
        margin: 0 auto;
        margin-top: 30px;
        outline: none;
        border: none;
        color: white;
        font-size: 20px;
        background-color: #436477;
        box-shadow: 0px 0px 20px #93a3ad;
        transition: all 0.5s;
    }
}

@media only screen and (max-width: 390px) {
    .prices {
        width: 50%;
    }
}

/*.sessao5 {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 300px;
    transition: all 1s ease-out;
}

    .sessao5 h2, .sessao5 h3, .sessao5 h4 {
        text-align: center;
        transition: all 0.4s;
    }

    .sessao5 h2 {
        font-size: 40px;
    }

    .sessao5 h4 {
        color: #767676;
        padding-top: 30px;
        padding-bottom: 15px;
        text-decoration: underline;
    }

.col-prices {
    margin-top: 20px;
    height: 590px;
    border: 1px solid #dbdbdb;
    position: relative;
    z-index: 1;
}

    .col-prices:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scaleY(0);
        transform-origin: top center;
        background: #141414;
        z-index: -1;
        transition: transform 0.3s;
    }

    .col-prices:hover::after {
        transform: scaleY(1);
    }

    .col-prices:hover h4 {
        color: #e2e2e2;
        transition: all 0.4s;
    }

    .col-prices:hover .prices h3 {
        color: #e2e2e2;
        transition: all 0.4s;
    }

.gratis-div {
    margin-left: 15.5%;
}

.premium-div {
    margin-left: 2.1%;
}

.prices {
    width: 50%;
    border-radius: 50%;
    border: 1.5px solid #436477;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
    position: relative;
}

    .prices:after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

    .prices h3 {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }

.col-prices p {
    text-align: center;
    color: #878787;
}

.btn-purchase {
    width: 90%;
    height: 60px;
    background-color: transparent;
    border: 1.5px solid #436477;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    transition: all 0.7s;
    cursor: pointer;
}

    .btn-purchase p {
        color: #436477;
        font-size: 25px;
        padding-top: 3%;
        transition: all 1s;
    }

    .btn-purchase:hover {
        background-color: #436477;
        transition: all 0.7s;
    }

        .btn-purchase:hover p {
            color: white;
            transition: all 1s;
        }*/