body {
    margin: 0;
    padding: 0;
    background: #212121;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}

::-webkit-scrollbar {
    width: 3px;
    height: 8px;
    background: #495059;
}

::-webkit-scrollbar-thumb {
    background: #495059;
}

::-webkit-scrollbar {
}

::-webkit-scrollbar-button {
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-track-piece {
}

::-webkit-scrollbar-thumb {
    background-color: #495059;
    border-radius: 25px;
}

::-webkit-scrollbar-corner {
}

::-webkit-resizer {
}

.container-leitura {
    padding-top: 50px;
}

.epub-view {
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: visible !important;
}

#navigation {
    width: 100%;
    max-height: 90vh;
    padding-left:10px;
    overflow-y: auto;
}

    #navigation.fixed {
        position: fixed;
    }

    #navigation h1 {
        font-size: 24px;
        font-weight: normal;
        color: white;
        margin-bottom: 20px;
    }

    #navigation h2 {
        font-size: 16px;
        font-weight: normal;
        color: #B0B0B0;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    #navigation ul {
        padding-left: 18px;
        margin-left: 0;
        margin-top: 12px;
        margin-bottom: 12px;
    }

        #navigation ul li {
            list-style: decimal;
            margin-bottom: 10px;
            color: #cccddd;
            font-size: 12px;
            padding-left: 0;
            margin-left: 0;
        }

            #navigation ul li a {
                color: #ccc;
                text-decoration: none;
            }

                #navigation ul li a:hover {
                    color: white;
                    text-decoration: underline;
                }

                #navigation ul li a.active {
                    color: #000;
                }

#viewer {
    overflow: hidden;
    width: 100%;
    margin: 0 0px;
}

    #viewer .epub-view {
        background: white;
        box-shadow: 0 0 4px #ccc;
        /*margin: 10px;*/
        /*padding: 40px 80px;*/
    }

#main {
    z-index: 2;
    width: 100%;
    position: relative;
    background-color: white;
    transition: left .15s cubic-bezier(.55, 0, .2, .8) .08s;
}

    #main.open {
        left: 0;
    }

#pagination {
    text-align: center;
    margin-left: 80px;
    /*padding: 0 50px;*/
}

.arrow {
    margin: 14px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #ccc;
}

    .arrow:hover {
        color: white;
    }

    .arrow:active {
        color: #000;
    }

#prev {
    position: absolute;
    bottom: -50px;
    left: 0px;
}

#next {
    position: absolute;
    bottom: -50px;
    right: 0px;
}

#toc {
    display: block;
    margin: 10px auto;
}

#img-menu {
    display: none;
}

#navigation-sm {
    display: none;
}
#logo {
    display: none;
}


@media screen and (max-width: 768px) {
    body {
        overflow: hidden;
    }

    #img-menu {
        display: block;
        position: absolute;
        right: 15px;
        top: 28px;
        height: 27px;
    }

    #logo {
        display: block;
        position: absolute;
        left: 15px;
        top: 20px;
        height: 45px;
    }

    .container-leitura {
        padding-top: 70px;
        overflow: hidden;
    }

    .col-leitor {
        padding: 5px;
        overflow: hidden;
    }

    .navigation-lg {
        display: none;
    }

    #navigation-sm {
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        transform: translateX(100%);
        transition: transform 0.7s;
        z-index: 10;
        width: 0px;
        height: 100vh;
        background-color: #212121;
        overflow-y: auto;
        padding-bottom:15px;
    }

    .title-sm {
        color: white;
        font-size: 22px;
        padding-top: 70px;
        padding-bottom: 20px;
        text-align: center;
    }

    #cover-sm {
        display: block;
        margin: 0 auto;
    }

    .autor-sm {
        color: white;
        font-size: 18px;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    #toc-sm a {
        color: #F4F4F4;
        font-size: 14px;
    }

    #toc{
        padding-bottom:20px;
    }

    #close {
        display: block;
        position: absolute;
        right: 15px;
        top: 25px;
        z-index: 22;
        height: 28px;
    }
}
