@model Lyfr.Models.Cliente
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid background">
    <div class="container fundo-inicial">
        <div class="row">
            <div class="col-md-7 col-12">
                <div class="form_side">
                    <form action="/Home/Login" method="post">
                        <h2 class="TituloPage"> Insira suas crendênciais <br />para acessar </h2>
                        <hr class="line-index fixed-width" />
                        <br />
                        <input class="input-style input-login" type="text" id="Email" name="Email" placeholder="Email" />
                        <span asp-validation-for="Email" class="text-danger" style="margin:auto; display:table;"></span>
                        <input class="input-style input-login" type="password" id="Senha" name="Senha" placeholder="Senha" />
                        <span asp-validation-for="Senha" class="text-danger" style="margin:auto; display:table;"></span>
                        <input type="submit" class="entry_submit space-submit" value="Entrar" />
                        <br />
                        @if (ViewBag.Erro != null)
                        {
                            <div class="alert alert-danger" role="alert" style="margin:10px;">
                                @ViewBag.Erro
                            </div>
                        }
                        <br />
                        <a href="/Home/Esqueci_Senha" class="link_senha">Esqueci minha senha</a>
                    </form>
                </div>
            </div>
            <div class="col-md-5 col-12">
                <div class="image_side">

                </div>
            </div>
        </div>
    </div>
</div>