
@{
    ViewData["Title"] = "MinhaLista";
    Layout = "~/Views/Shared/_Layout_Browse.cshtml";
}

    <div class="fundo-browse">
        <div class="container-apresentation minha-lista-image">
            <h2 class="title-livro-destaque">Minha lista</h2>
        </div>
        <div class="container-fluid container-categ container-flex" id="favoritos">
            @if (ViewBag.Favoritos.Count > 0)
            {
                @foreach (var item in ViewBag.Favoritos)
                {
                    <div class="box-livro box-livro-responsive" value="@(item.Titulo)" style="background-image: url('@item.Capa');"></div>
                }
            }
            else
            {
                <h3 class="text-center padding-top text-white margin-0">Não há livros na sua lista!</h3>
            }
        </div>
    </div>

