
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Chrome -->
    <meta name="theme-color" content="#EEDBAA">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#EEDBAA">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#EEDBAA">
    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="~/img/Icon_Lyfr.png" />
    <title>Lyfr</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="~/lib/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="~/css/estilos.css" rel="stylesheet" />
    <link href="~/css/Page_Apresentacao.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/bootstrap.js"></script>
    <script src="~/lib/jquery.mask/jquery.mask.js"></script>
    <link href="~/css/browse.css" rel="stylesheet" />
</head>
<body>
    <div id="container">
        <header>

            <nav class="navbar fixed-top navbar-expand-lg navbar-style" id="navbar">
                <a class="navbar-brand" href="/Home/Index">
                    <img src="~/img/Icon_Lyfr.png" id="image-brand" height="50">
                </a>
                <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link link_estilo" href="/Home/Login">Entrar</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="big-padding-top" style="text-align:center">
            <h1 class="oops">OOPS!!</h1>
            <img src="~/img/cry.jpg" class="imgErro" />
            <h2 class="codErro">@ViewBag.Erro</h2>
            @if (ViewBag.DetalhesErro != null)
            {
                <h3 class="detErro">@ViewBag.DetalhesErro</h3>
            }
            else
            {
                <h3 class="detErro">Algo deu errado. Perdoe-nos!</h3>
            }
        </div>

    </div>
    <footer>
        <div class="rodape">
            <div class="row">
                <div class="col-12 ">
                    <div class="icons-div">
                        <img src="~/img/Icon_Lyfr.png" class="logo-footer" />
                    </div>
                </div>
                <div class="col-12 ">
                    <div class="icons-div">
                        <img src="~/img/021-facebook white.png" width="30" class="icones" />
                        <img src="~/img/025-instagram white.png" width="30" class="icones" />
                        <img src="~/img/035-whatsapp white.png" width="30" class="icones" />
                        <img src="~/img/043-twitter white.png" width="30" class="icones" />
                    </div>
                </div>
                <div class="col-12 direitos-footer">
                    <p>contato.lyfr@gmail.com</p>
                    <p> Todos os direitos reservados. 2019 </p>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/js/site.js"></script>

</body>
</html>


