
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="sessao1">
    <div id="img-fundo">

    </div>
    <h1 id="title-sessao1">Seu próximo livro, agora</h1>
    <h2 id="subtitle-sessao1">Leia quando e onde quiser</h2>
    <div class="botao_iniciar" id="botao_iniciar" onclick="document.location.href='/Home/Cadastro'">
        <p>
            Começar Agora
        </p>
    </div>
</div>
<div class="container sessao2">
    <h2 id="offer">O que nós oferecemos</h2>
    <hr class="line-index" id="line-index-1" />
    <div class="row">
        <div class="col-12 col-md-6 responsive-text" id="responsive-text-1">
            <img src="~/img/responsive.png" />
            <h3>Acesso em qualquer lugar</h3>
            <p>Baixe o app do Lyfr no seu dispositivo Android, ou leia seus livros na nossa página web pelo seu navegador!</p>
        </div>
        <div class="col-12 col-md-6 responsive-image" id="responsive-image-1">
            <img src="~/img/phone.jpg" class="image-devices" id="image-devices-1" />
        </div>
    </div>

    <div class="row div-features">
        <div class="col-12 col-md-6 responsive-image div-web" id="responsive-image-2">
            <img src="~/img/books.jpg" class="image-devices" id="image-devices-2" />
        </div>
        <div class="col-12 col-md-6 responsive-text" id="responsive-text-2">
            <img src="~/img/books_icon.png" />
            <h3>Variedade de livros</h3>
            <p>Temos um acervo de livros gigante, onde você poderá adquirir um conhecimento imenso!</p>
        </div>
        <div class="col-12 col-md-6 responsive-image div-mobile" id="responsive-image-2mob">
            <img src="~/img/books.jpg" class="image-devices" id="image-devices-" />
        </div>
    </div>

    <div class="row div-features">
        <div class="col-12 col-md-6 responsive-text" id="responsive-text-3">
            <img src="~/img/ui_icon.png" />
            <h3>Interface sofisticada</h3>
            <p>Lyfr foi desenvolvido com uma interface bonita e funcional, pensado especialmente em você!</p>
        </div>
        <div class="col-12 col-md-6 responsive-image" id="responsive-image-3">
            <img src="~/img/interface.jpg" class="image-devices" id="image-devices-3" />
        </div>
    </div>

    <div class="row div-features">
        <div class="col-12 col-md-6 responsive-image div-web" id="responsive-image-4">
            <img src="~/img/coffee-to-go.jpg" class="image-devices" id="image-devices-4" />
        </div>
        <div class="col-12 col-md-6 responsive-text" id="responsive-text-4">
            <img src="~/img/config_icon.png" />
            <h3>Biblioteca customizável</h3>
            <p>Customize sua biblioteca de acordo com seus gostos, e receba sugestões de livros que provavelmente você vai gostar com nossa inteligência articial!</p>
        </div>
        <div class="col-12 col-md-6 responsive-image div-mobile" id="responsive-image-4mob">
            <img src="~/img/coffee-to-go.jpg" class="image-devices" id="image-devices-4" />
        </div>
    </div>

</div>

<div class="sessao4" id="sessao4">
    <div class="container">
        <div class="row">
            @if (ViewBag.Erro == null)
            {
                <div class="col-6 col-md-3">
                    <img src="~/img/books_icon_white.png" />
                    <h3 class="count">@ViewBag.Geral.QuantidadeLivros</h3>
                    <p>Livros</p>
                </div>
                <div class="col-6 col-md-3">
                    <img src="~/img/autor_icon.png" />
                    <h3 class="count">@ViewBag.Geral.QuantidadeAutores</h3>
                    <p>Autores</p>
                </div>
                <div class="col-6 col-md-3">
                    <img src="~/img/client_icon.png" />
                    <h3 class="count">@ViewBag.Geral.QuantidadeClientes</h3>
                    <p>Clientes</p>
                </div>
                <div class="col-6 col-md-3">
                    <img src="~/img/editoras.png" />
                    <h3 class="count">@ViewBag.Geral.QuantidadeEditoras</h3>
                    <p>Editoras</p>
                </div>
            }
            else
            {
                <h3 class="center text-white">Algum erro ocorreu!</h3>
            }

        </div>
    </div>
</div>

<div class="sessao3" id="sessao3">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 porque_nos_escolher">
                <h2>Por que nos escolher?</h2>
                <hr class="line-index fixed-width" />
                <p>Nós temos um time muito dedicado em atingir todas as necessidades dos leitores. Contamos com um atendimento rápido, caso você tenha alguma duvida. A nossa prioridade é ampliar a leitura e o conhecimento para todo tipo de pessoas com uma plataforma fácil de usar, com livros de qualidade!</p>
            </div>
            <div class="col-12 col-md-6 porque_nos_escolher_img">
                <img src="~/img/man-3803551_1920.jpg" />
            </div>
        </div>
    </div>
</div>

@*<div class="sessao5" id="sessao5">
    <div class="container">
        <h2>Planos</h2>
        <hr class="line-index fixed-width" />
        <div class="row">
            <div class="col-12 col-md-4 col-prices gratis-div">
                <h4>Plano Básico</h4>
                <div class="prices">
                    <h3>Grátis</h3>
                </div>
                <p>Leitura de todos os livros disponíveis</p>
                <p>Acesso em qualquer dispositivo</p>
                <p>Ler online</p>
                <div class="btn-purchase" onclick="document.location.href='/Home/Cadastro'">
                    <p>Adquirir</p>
                </div>
            </div>
            <div class="col-12 col-md-4 col-prices premium-div">
                <h4>Plano Premium</h4>
                <div class="prices">
                    <h3>R$ 4,99</h3>
                </div>
                <p>Leitura de todos os livros disponíveis</p>
                <p>Acesso em qualquer dispositivo</p>
                <p>Ler online</p>
                <p>Ler offline</p>
                <p>Ler sem propagandas</p>
                <div class="btn-purchase" onclick="document.location.href='/Home/Cadastro'">
                    <p>Adquirir</p>
                </div>
            </div>
        </div>
    </div>
</div>*@
