@{
    ViewData["Title"] = "Privacy Policy";
}
    <div class="container big-padding-top padding-bottom">
        <h1 class="padding-bottom text-center text-white">Política de Privacidade</h1>


        <p class="text-gray text-justify">Data efetiva: 30 de outubro de 2019</p>


        <p class="text-gray text-justify">Lyfr opera o site http://lyfr.com.br/.</p>

        <p class="text-gray text-justify">Esta página informa sobre nossas políticas sobre a coleta, uso e divulgação de dados pessoais quando você usa nosso Serviço e as opções que você associou a esses dados.</p>

        <p class="text-gray text-justify">Usamos seus dados para fornecer e melhorar o Serviço. Ao usar o Serviço, você concorda com a coleta e o uso de informações de acordo com esta política. Salvo disposição em contrário nesta Política de Privacidade, os termos usados nesta Política de Privacidade têm os mesmos significados que em nossos Termos e Condições, acessíveis em http://lyfr.com.br/</p>


        <h2 class="small-padding-top text-white">Coleta e uso de informações</h2>

        <p class="text-gray text-justify">Coletamos vários tipos diferentes de informações para vários propósitos, a fim de fornecer e melhorar nosso Serviço para você.</p>

        <h3 class="small-padding-top text-white">Tipos de dados coletados</h3>

        <h4 class="small-padding-top text-white">- Dados pessoais</h4>

        <p class="text-gray text-justify">Ao usar nosso Serviço, podemos solicitar que você nos forneça certas informações de identificação pessoal que podem ser usadas para entrar em contato ou identificá-lo ("Dados Pessoais"). Informações de identificação pessoal podem incluir, mas não estão limitadas a:</p>

        <ul>
            <li class="text-gray text-justify">Endereço de e-mail</li>
            <li class="text-gray text-justify">Nome e sobrenoms</li>
            <li class="text-gray text-justify">Número de telefone</li>
            <li class="text-gray text-justify">Endereço, Estado, Província, CEP, Cidade</li>
            <li class="text-gray text-justify">Cookies e dados de uso</li>
        </ul>

        <h4 class="small-padding-top text-white">- Dados de uso</h4>

        <p class="text-gray text-justify">Também podemos coletar informações sobre como o Serviço é acessado e usado ("Dados de Uso"). Estes Dados de Uso podem incluir informações como o endereço de Protocolo da Internet do seu computador (por exemplo, endereço IP), tipo de navegador, versão do navegador, as páginas do nosso Serviço que você visita, a hora e a data da sua visita, o tempo gasto nessas páginas, exclusivo identificadores de dispositivo e outros dados de diagnóstico.</p>

        <h4 class="small-padding-top">- Dados de rastreamento e cookies</h4>
        <p class="text-gray text-justify">Utilizamos cookies e tecnologias de rastreamento semelhantes para rastrear a atividade em nosso Serviço e reter determinadas informações.</p>
        <p class="text-gray text-justify">Cookies são arquivos com pequena quantidade de dados que podem incluir um identificador exclusivo anônimo. Os cookies são enviados para o seu navegador a partir de um site e armazenados no seu dispositivo. As tecnologias de rastreamento também usadas são beacons, tags e scripts para coletar e rastrear informações e melhorar e analisar nosso Serviço.</p>
        <p class="text-gray text-justify">Você pode instruir seu navegador a recusar todos os cookies ou a indicar quando um cookie está sendo enviado. No entanto, se você não aceitar cookies, poderá não conseguir usar algumas partes do nosso Serviço.</p>
        <p class="text-gray text-justify">Exemplos de cookies que usamos:</p>
        <ul>
            <li class="text-gray text-justify"><strong>Cookies de sessão.</strong> Utilizamos Cookies de Sessão para operar nosso Serviço.</li>
            <li class="text-gray text-justify"><strong>Cookies de preferência.</strong> Usamos Cookies de preferência para lembrar suas preferências e várias configurações.</li>
            <li class="text-gray text-justify"><strong>Cookies de segurança.</strong> Utilizamos cookies de segurança para fins de segurança.</li>
        </ul>

        <h2 class="padding-top text-white">Uso de dados</h2>

        <p class="text-gray text-justify">Lyfr usa os dados coletados para vários propósitos:</p>
        <ul>
            <li class="text-gray text-justify"> Para fornecer e manter o Serviço </li>
            <li class="text-gray text-justify"> Para notificá-lo sobre alterações em nosso Serviço </li>
            <li class="text-gray text-justify"> Para permitir que você participe de recursos interativos do nosso Serviço quando você optar por fazê-lo </li>
            <li class="text-gray text-justify"> Para fornecer atendimento e suporte ao cliente </li>
            <li class="text-gray text-justify"> Fornecer análises ou informações valiosas para que possamos melhorar o Serviço </li>
            <li class="text-gray text-justify"> Para monitorar o uso do Serviço </li>
            <li class="text-gray text-justify"> Para detectar, prevenir e resolver problemas técnicos </li>
        </ul>

        <h2 class="padding-top text-white"> Transferência de dados </h2>
        <p class="text-gray text-justify"> Suas informações, incluindo dados pessoais, podem ser transferidas para - e mantidas em - computadores localizados fora do seu estado, província, país ou outra jurisdição governamental em que as leis de proteção de dados possam diferir daquelas da sua jurisdição. </p>
        <p class="text-gray text-justify"> Se você estiver fora do Brasil e optar por nos fornecer informações, observe que transferimos os dados, incluindo Dados Pessoais, para o Brasil e os processamos lá. </p>
        <p class="text-gray text-justify"> Seu consentimento para esta Política de Privacidade, seguido pelo envio de tais informações, representa seu acordo com essa transferência. </p>
        <p class="text-gray text-justify"> Lyfr tomará todas as medidas razoavelmente necessárias para garantir que seus dados sejam tratados com segurança e de acordo com esta Política de Privacidade e que nenhuma transferência de seus Dados Pessoais ocorra para uma organização ou país, a menos que haja controles adequados, incluindo o segurança de seus dados e outras informações pessoais. </p>

        <h2 class="big-padding-top text-white"> Divulgação de dados </h2>

        <h3 class="small-padding-top text-white"> Requisitos legais </h3>
        <p class="text-gray text-justify"> Lyfr pode divulgar seus Dados Pessoais de boa fé, acreditando que tal ação é necessária para: </p>
        <ul>
            <li class="text-gray text-justify"> Para cumprir uma obrigação legal </li>
            <li class="text-gray text-justify"> Proteger e defender os direitos ou propriedades da Lyfr </li>
            <li class="text-gray text-justify"> Para impedir ou investigar possíveis irregularidades relacionadas ao Serviço </li>
            <li class="text-gray text-justify"> Para proteger a segurança pessoal dos usuários do Serviço ou do público </li>
            <li class="text-gray text-justify"> Para proteger contra a responsabilidade legal </li>
        </ul>

        <h2 class="padding-top text-white"> Segurança dos dados </h2>
        <p class="text-gray text-justify"> A segurança dos seus dados é importante para nós, mas lembre-se de que nenhum método de transmissão pela Internet ou método de armazenamento eletrônico é 100% seguro. Embora nos esforcemos para usar meios comercialmente aceitáveis ​​para proteger seus dados pessoais, não podemos garantir sua segurança absoluta. </p>

        <h2 class="padding-top text-white"> Provedores de serviços </h2>
        <p class="text-gray text-justify"> Podemos empregar empresas e indivíduos de terceiros para facilitar nosso Serviço ("Provedores de Serviço"), prestar o Serviço em nosso nome, executar serviços relacionados ao Serviço ou para nos ajudar a analisar como nosso Serviço é usado. </ p>
        <p class="text-gray text-justify"> Esses terceiros têm acesso aos seus Dados Pessoais apenas para executar essas tarefas em nosso nome e são obrigados a não divulgá-los ou usá-los para outros fins. </p>



        <h2 class="padding-top text-white"> Links para outros sites </h2>
        <p class="text-gray text-justify">  Nosso serviço pode conter links para outros sites que não são operados por nós. Se você clicar em um link de terceiros, será direcionado para o site desse terceiro. Aconselhamos vivamente que reveja a Política de Privacidade de todos os sites que visita. </p>
        <p class="text-gray text-justify"> Não temos controle e não assumimos responsabilidade pelo conteúdo, políticas ou práticas de privacidade de sites ou serviços de terceiros. </p>


        <h2 class="padding-top text-white"> Privacidade das crianças </h2>
        <p class="text-gray text-justify"> Nosso serviço não trata ninguém com menos de 18 anos ("Filhos"). </p>
        <p class="text-gray text-justify"> Não coletamos intencionalmente informações de identificação pessoal de menores de 18 anos. Se você é pai ou responsável e sabe que seus filhos nos forneceram Dados Pessoais, entre em contato conosco. Se tomarmos conhecimento de que coletamos Dados Pessoais de crianças sem verificação do consentimento dos pais, tomamos medidas para remover essas informações de nossos servidores. </p>


        <h2 class="padding-top text-white"> Alterações nesta política de privacidade </h2>
        <p class="text-gray text-justify"> Podemos atualizar nossa Política de Privacidade periodicamente. Notificaremos você sobre qualquer alteração postando a nova Política de Privacidade nesta página. </p>
        <p class="text-gray text-justify"> Informaremos você por e-mail e / ou um aviso importante em nosso Serviço, antes que a alteração entre em vigor e atualize a "data efetiva" na parte superior desta Política de Privacidade. </p>
        <p class="text-gray text-justify"> Aconselhamos que você reveja esta Política de Privacidade periodicamente para quaisquer alterações. As alterações nesta Política de Privacidade são efetivas quando publicadas nesta página. </p>


        <h2 class="padding-top text-white"> Entre em contato </h2>
        <p class="text-gray text-justify"> Se você tiver alguma dúvida sobre esta Política de Privacidade, entre em contato conosco: </p>
        <ul>
            <li class="text-gray text-justify"> Por email: contato.lyfr@gmail.com </li>

        </ul>

    </div>