@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" class="alert alert-dark alert-dismissible fade show fixed-bottom" role="alert">
        Ao navegar nesse site, você concorda com a nossa política de Cookies - <a asp-area="" asp-controller="Home" asp-action="Privacy">Saiba Mais</a>.
        <button type="button" class="accept-policy-cookie" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
            Aceitar
        </button>
    </div>
    <script>
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;
            }, false);
        })();
    </script>
}

<style>
    .accept-policy-cookie{
        position:absolute;
        right:10px;
        border:none;
        background-color:transparent;
        color:#5bcfee;
        transition:all 0.5s;
    }

    .accept-policy-cookie:hover{
        transform:scale(1.1);
        transition:all 0.5s;
    }

    #cookieConsent{
        margin-bottom:0px;
        padding-top:20px;
        padding-bottom:20px;
        background-color:#121212;
        color:white;
        border:none;
        box-shadow:0px 0px 5px #ffffff;
    }
</style>