<!DOCTYPE html>
<html>
<head>
    <title>Lyfr | Leia livros grátis online com uma gama gigantesca de livros</title>
    <meta name="description" content="Leia vários livros grátis e online em nosso site. Aproveite a gama de livros para se entreter e estudar, salvando livros para ler mais tarde!" />
    <meta name="keywords" content="ler grátis,leitura,lyfr.com.br,livro,livros,ler,ler livros,ler livros gratis,ler gratis,ler livros antigos,ler livros bons,livros grátis,ler livros online,ler livros online grátis,livros online grátis,leitor,leitor de livros,ler epub,livros bons,bons livros,cadastrar livros,livros novos,leitor de livros grátis,read books,books,free reader books,ree books,leia livros,leia livros grátis, epub,lyfr,lyfr.com.br,leitor lyfr">
    <meta name="robots" content="">
    <meta name="revisit-after" content="1 day">
    <meta name="language" content="Portuguese">
    <meta name="generator" content="N/A">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Chrome -->
    <meta name="theme-color" content="#212121">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#212121">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#212121">
    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="~/img/Icon_Lyfr.png" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="~/lib/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="~/css/estilos.css" rel="stylesheet" />
    <link href="~/css/Page_Apresentacao.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/bootstrap.js"></script>
    <script src="~/lib/jquery.mask/jquery.mask.js"></script>
    <link href="~/css/browse.css" rel="stylesheet" />
</head>
<body>
    <div id="container">
        <header>

            <nav class="navbar fixed-top navbar-expand-lg navbar-style" id="navbar">
                <a class="navbar-brand" href="/Home/Index">
                    <img src="~/img/Icon_Lyfr.png" id="image-brand" height="50">
                </a>
                <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link link_estilo" href="/Home/Cadastro">Cadastrar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link_estilo" href="/Home/Login">Entrar</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        @RenderBody()
        <partial name="_CookieConsentPartial" />

    </div>
    <footer>
        <div class="rodape">
            <div class="row">
                <div class="col-12 ">
                    <div class="icons-div">
                        <img src="~/img/Icon_Lyfr.png" class="logo-footer" />
                    </div>
                </div>
                <div class="col-12 ">
                    <div class="icons-div">
                        <img src="~/img/021-facebook white.png" width="30" class="icones" />
                        <img src="~/img/025-instagram white.png" width="30" class="icones" />
                        <img src="~/img/035-whatsapp white.png" width="30" class="icones" />
                        <img src="~/img/043-twitter white.png" width="30" class="icones" />
                    </div>
                </div>
                <div class="col-12 direitos-footer">
                    <p>contato.lyfr@gmail.com</p>
                    <p> Todos os direitos reservados. 2019 </p>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/js/site.js"></script>

</body>
</html>
