<!DOCTYPE html>
<html>
<head>
    <title>Lyfr | Leia livros grátis online com uma gama gigantesca de livros</title>
    <meta name="description" content="Leia vários livros grátis e online em nosso site. Aproveite a gama de livros para se entreter e estudar, salvando livros para ler mais tarde!" />
    <meta name="keywords" content="ler grátis,leitura,lyfr.com.br,livro,livros,ler,ler livros,ler livros gratis,ler gratis,ler livros antigos,ler livros bons,livros grátis,ler livros online,ler livros online grátis,livros online grátis,leitor,leitor de livros,ler epub,livros bons,bons livros,cadastrar livros,livros novos,leitor de livros grátis,read books,books,free reader books,ree books,leia livros,leia livros grátis, epub,lyfr,lyfr.com.br,leitor lyfr">
    <meta name="robots" content="">
    <meta name="revisit-after" content="1 day">
    <meta name="language" content="Portuguese">
    <meta name="generator" content="N/A">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Chrome -->
    <meta name="theme-color" content="#212121">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#212121">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#212121">
    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="~/img/Icon_Lyfr.png" />
    <title>Lyfr</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="~/lib/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="~/css/estilos.css" rel="stylesheet" />
    <link href="~/css/Page_Apresentacao.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/bootstrap.js"></script>
    <link href="~/css/browse.css" rel="stylesheet" />
</head>
<body>
    <div class="modalLivros" id="modal">
        <img src="~/img/close.png" id="close_btn" />
        <div class="center-modal load-white" id="load-modal"></div>
        <h3 class="center-modal text-white" id="erro-modal" style="display:block"></h3>
        <div class="grid">
            <div class="item img-capa">
                <img src="" class="capa-livro" id="CapaLivro" />
            </div>
            <div class="item titulo-livro">
                <input type="hidden" id="IdLivro" />
                <h2 class="text-white" id="TituloLivro"></h2>
            </div>
            <div class="item sinopse">
                <p class="text-white" id="SinopseLivro"></p>
            </div>
            <div class="item btn-opcoes">
                <button class="btn-modal" id="botao-ler" style="display:none">Ler</button>
                <button class="btn-modal" id="botao-adicionar" style="display:none">Adicionar na lista</button>
                <button class="btn-modal" id="botao-remover" style="display:none">Remover da lista</button>
                <div class="load-white" id="load-btn"></div>
                <p class="text-white" id="erro-btn" style="display:block"></p>
            </div>
            <div class="item info">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <p id="AutorLivro"></p>
                            <p id="EditoraLivro"></p>
                            <p id="DataLancLivro"></p>
                            <p id="IsbnLivro"> </p>
                            <p id="GeneroLivro"></p>
                        </div>
                        <div class="col-12 col-md-6">
                            <!--<p>Total de acessos: 1000 </p>
                        <p>Média de avaliações: 4,7 </p>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="dark-div">

    </div>

    <div id="container">
        <header>

            <nav class="navbar fixed-top navbar-expand-lg navbar-style-dark" id="navbar">
                <a class="navbar-brand" href="/Home/Browse">
                    <img src="~/img/Icon_Lyfr.png" id="image-brand" height="50">
                </a>
                <button class="navbar-toggler custom-toggler-black" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation" onclick="makeNavbarBlack()">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                                <input type="text" placeholder="Pesquisar..." name="Nome" id="Pesquisa" />
                                <img src="~/img/search.png" id="Enviar"/>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link_estilo-white" href="/Home/Generos">Gêneros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link_estilo-white" href="/Home/MinhaLista">Minha lista</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link_estilo-white" href="/Home/Conta">Conta</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link_estilo-white" href="/Home/Logout">Sair</a>
                        </li>

                    </ul>
                </div>
            </nav>
        </header>
        @RenderBody()



    </div>

    <footer>
        <div class="rodape rodape-black">
            <div class="row">
                <div class="col-12 ">
                    <div class="icons-div">
                        <img src="~/img/Icon_Lyfr.png" class="logo-footer" />
                    </div>
                </div>
                <div class="col-12 ">
                    <div class="icons-div">
                        <img src="~/img/021-facebook white.png" width="30" class="icones" />
                        <img src="~/img/025-instagram white.png" width="30" class="icones" />
                        <img src="~/img/035-whatsapp white.png" width="30" class="icones" />
                        <img src="~/img/043-twitter white.png" width="30" class="icones" />
                    </div>
                </div>
                <div class="col-12 direitos-footer">
                    <p> Todos os direitos reservados. 2019 </p>
                </div>
            </div>
        </div>
    </footer>
<script src="~/js/site.js"></script>
</body>
</html>

